<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting label="30001" type="labelenum" id="i2c.address" lvalues="30100|30101" default="0x3C" enable="true" />
    <setting label="30002" type="labelenum" id="display.type" lvalues="30102|30103|30104" default="128x64-SSD1306" enable="true" />
    <setting label="30007" type="bool" id="display.flip" enable="true" />
    <setting label="30003" type="bool" id="display.shortformat" enable="true" />
    <setting label="30008" type="bool" id="display.clockonlymode" enable="true" />
    <setting label="30011" type="labelenum" id="display.icontype" lvalues="30107|30108" default="Solid" enable="true" />
    <setting label="30009" type="bool" id="display.hideicons" enable="true" />
    <setting label="30010" type="bool" id="display.hidesdricon" enable="true" />
    <setting label="30006" type="labelenum" id="display.font" lvalues="30105|30106" default="5x7 Dot matrix" enable="true" />
    <setting label="30004" type="slider" id="display.brightness" range="1,16" default="16" option="int" enable="true" />
    <setting label="30005" type="slider" id="display.playbackbrightness" range="1,16" default="8" option="int" enable="true" />
  </category>
</settings>